[submodule "misp-docker"]
	path = external/misp-docker
	url = https://github.com/MISP/misp-docker.git
        ignore = dirty
[submodule "docker-elk"]
	path = external/docker-elk
	url = https://github.com/deviantony/docker-elk.git
        ignore = dirty
[submodule "external/elastiflow"]
	path = external/elastiflow
	url = https://github.com/robcowart/elastiflow
